<link rel="stylesheet" href="{{ url_for('static', filename='header/header.css') }}">
<div class="HEADER">
            <label id="HeaderTitle"></label>
             <div class="dropdown" id="NavDropdown">
                <button class="dropbtn">More
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <button>Entry</button>
                  <button>Report</button>
<!--               TODO get these buttons working!-->
<!--                  <a href="#"></a>-->
                </div>
             <input type="button" id="LogoutButton">
             </div>
</div>
<script>
    {{ static_include("header/header.js") | safe }}
</script>
