{% extends "base.html" %}
{% block head %}
<head>
    <link href="https://unpkg.com/tabulator-tables@5.0.7/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.0.7/dist/js/tabulator.min.js"></script>
</head>
{% endblock %}

{% block body %}
<body>
    <form id="ReportForm">
        <div>
        <span>
            <input
                name = "DateStart"
                id="DateStart"
                title="Start Date"
                type="date"
                style="float:left;"
            >
            <input
                title="End Date"
                id="DateEnd"
                name="DateEnd"
                type="date"
                style="float:left;"
            >
        </span><br>

        <select
                title="Report Dropdown"
                id="ReportDropdown"
                name="ReportDropdown"
        >
            <option value="" disabled selected hidden>Report Name</option>
            <option value="name" >Student's Names</option>
            <option value="student" >Student's Tickets</option>
            <option value="user" >Your Tickets</option>

        </select>
        <label for="ReportByDate">Get from between these dates</label>
        <input type="checkbox" title="Date CheckBox" name="ByDate" id="ReportByDate">
        <br>
        <input
            name = "student_id"
            title="Student Name"
            type="text"
            id="ReportStudentID"
            placeholder="Student ID"
            list="ReportStudentList"
        ><br>
        <datalist id="ReportStudentList"></datalist>

        <input type="button" title="Submit Button" id="ReportFetch" name="ReportFetch" value="Fetch">
    </form>
    <table id="ReportTable" ></table>
</body>
{% endblock %}

{%  block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossOrigin="anonymous"></script>
    <script>
        // Populate lists #}
            function title(str) {
                return str.charAt(0).toUpperCase() + str.slice(1).toLowerCase();
            }
            let None = null
            var values = {{ values|safe }}
            var list = values["list"]

            for (let key in list) {
                for (let i in list[key]) {
                    row = list[key][i]
                    console.log(row)
                    let opt = document.createElement('option');

                    // Decide how to handle data depending on what list is being drawn from. This seemed like the best
                    // way to do it.

                    if (key === "studentlist") {
                        opt.text = "".concat(title(row["fname"]), " ", title(row["lname"]));
                        opt.value = row["id"]
                        document.getElementById("ReportStudentList").appendChild(opt)
                    }
                }
            }

        var ReportTable = document.getElementById("ReportTable")
        var ReportTableTabulator = new Tabulator("#ReportTable", {
            autoColumns:true, //create columns from data field names
        });

        // On fetch button click,
        document.getElementById("ReportFetch").addEventListener("click", function(){
            let formData = new FormData(document.getElementById("ReportForm")) // Get form data
            // Post to server
            $.ajax({
                type: "POST",
                url: window.location.href,
                dataType: "json",
                processData: false,
                contentType: false,
                encode: true,
                data: formData,

            // On response data:
            }).done(function (data) {
                console.log(data)
                ReportTable.hidden = false
                let choice = document.getElementById("ReportDropdown").value
                if (choice === "name") {
                    console.log(data)
                    const ReportTableTabulator = new Tabulator("#ReportTable", {
                        data: data,
                        columns: [
                            {
                                title: "Student", field: "name", sorter: "string", width: 200,
                                formatter: function (cell) {
                                    let row = cell.getRow().getData();
                                    return title(row["fname"]) + " " + title(row["lname"]);
                                },
                            },
                            {
                                title: "Home School", field: "shortname", sorter: "string",
                            }
                        ]
                    });
                } else if (choice === "user") {
                     const ReportTableTabulator = new Tabulator("#ReportTable", {
                        data: data,
                        columns: [
                            {
                                title: "Student", field: "name", sorter: "string", width: 200,
                                formatter: function (cell) {
                                    let row = cell.getRow().getData();
                                    return title(row["fname"]) + " " + title(row["lname"]);
                                },
                            },
                            {
                                title: "User", field: "user", sorter: "string",
                                formatter: function (cell) {
                                    let row = cell.getRow().getData();
                                    return title(row["fname"]) + " " + title(row["lname"]);
                                },
                            }
                        ]
                    });
                }
            })


            // event.preventDefault();
            return false;
        })


     </script>
{% endblock %}
